@media screen and (max-width: 908px) 
{nav{
    flex-direction: column;
margin-bottom: -30px;


}


.titulo{
display: flex;
flex-direction: row;
background-image: linear-gradient(to right, #20638C, transparent);
padding: 5px;
border-radius: 10px;
margin-bottom: 16px;
}

section h1{
 background-image: linear-gradient(to right, #20638C, transparent);
border-radius: 10px;
padding: 3px;

}

li:hover{
    background-color: #105773;
    border-radius: 10px;

}


li{
    padding: 5px;
    margin-top: -15px;
    margin-left: 2px;
}
.imagem{
    display: none;
}

span{
    margin-left: 5px;
}

main{
    max-width: 400px;
    margin: auto;
}


}



@media screen and (max-width: 539px) {

    nav{
        flex-direction: column;
    display: flex}
    
    .titulo{
        display: flex;
        flex-direction: row;
        padding: 10px;
        margin: 15px;
        ;
    }
    
    nav li
    {
      
        
        }
    
    
    li:hover{
        background-color: #105773;
        border-radius: 20px;
        padding: -10px;
    }
    
main{
    max-width: 400px;
    margin: auto;
}

    .imagem{
        display: none;
    }
    
    span{
        margin-left: 5px;
    }

picture{
    justify-content: space-between;
    display: flex;

}

a{

}

picture a img{
margin: 0;
align-items: center;
max-width: 30px;
}

img:hover{
    background-color: black;
    border-radius: 10px;
}

    main p{
        margin-right: 40px;
    }
    

}

